body{
    background-color: rgb(194, 220, 220);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}
h3{
    color: rgb(6, 14, 14);
}

img{
    background-color:rgb(194, 220, 220); ;
}